.Button2{
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.CancelButton{
    background-color: rgb(108, 0, 0);
}
.AcceptButton{
    background-color: #006004;
}

.NeutralButton{
    background-color: hsl(var(--primary));
}

.Button2:hover{
    background-color: #e0e0e0;
    color:black;
}